{% extends 'base.html.twig' %}

{% block title %}Accio{% endblock %}

{% block body %}
    <h1>Accio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accio.id }}</td>
            </tr>
            <tr>
                <th>Titol</th>
                <td>{{ accio.titol }}</td>
            </tr>
            <tr>
                <th>Cos</th>
                <td>{{ accio.cos }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ accio.data ? accio.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accio_index') }}">back to list</a>

    <a href="{{ path('accio_edit', {'id': accio.id}) }}">edit</a>

    {{ include('accio/_delete_form.html.twig') }}
{% endblock %}
